In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

%matplotlib inline
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_row', 300)

### Reading Files

In [30]:
data = pd.read_csv("~/Downloads/DS/train.csv",index_col=0)
validation = pd.read_csv("~/Downloads/DS/test.csv",index_col=0)

In [41]:
print(data.shape)
data.head()

(14385, 34)

,diagnosis_date,gleason_score,t_score,n_score,m_score,stage,age,race,height,weight,family_history,first_degree_history,previous_cancer,smoker,side,tumor_diagnosis,tumor_6_months,tumor_1_year,psa_diagnosis,psa_6_months,psa_1_year,tea,symptoms,rd_thrpy,h_thrpy,chm_thrpy,cry_thrpy,brch_thrpy,rad_rem,multi_thrpy,survival_1_year,survival_7_years,DateTime,Year
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2005-06-01,4.0,T1c,N0,M0,I,86.0,4.0,66.0,158.0,0.0,0.0,0.0,0.0,both,70.0,NaN,39.0,8.7,NaN,4.2,2.0,U03,0,0,1,1,0,1,1,1,0,2005-06-01,2005
2,2006-02-01,8.0,T3a,N1,M0,IV,66.0,2.0,70.0,174.0,0.0,0.0,0.0,1.0,both,43.0,28.0,16.0,13.7,9.8,7.5,4.0,"U06,S07",1,1,1,0,0,0,1,1,0,2006-02-01,2006
3,2006-03-01,9.0,T1a,N0,M0,IIB,84.0,4.0,69.0,NaN,0.0,0.0,0.0,0.0,right,51.0,NaN,89.0,16.0,15.9,18.5,0.0,"U01,U02,U03,S10",1,1,0,0,1,1,1,1,1,2006-03-01,2006
4,2005-02-01,8.0,T2b,N0,M0,IIB,86.0,3.0,69.0,173.0,0.0,0.0,0.0,0.0,right,104.0,NaN,NaN,NaN,NaN,NaN,2.0,"U01,U02,S10,O11",0,0,0,1,0,1,1,0,0,2005-02-01,2005
5,2001-12-01,8.0,T4,N0,M0,IV,78.0,4.0,70.0,201.0,1.0,1.0,0.0,0.0,left,72.0,NaN,87.0,18.1,NaN,NaN,2.0,"U01,U03,U05,S07",1,1,1,0,0,0,1,1,0,2001-12-01,2001

## Data Cleaning

### diagnosis_date

In [40]:
# Extracting month and year from the date
data['diagnosis_date'] = pd.to_datetime(data['diagnosis_date'])
data['Year'] = data['diagnosis_date'].dt.year
data['Month'] = data['diagnosis_date'].dt.month
# Dropping column 'diagnosis_date' as day is all '1'
data = data.drop(['Purchase Date'], axis = 1)

In [11]:
train.survival_7_years.value_counts()

0    8168
1    6217
Name: survival_7_years, dtype: int64

AttributeError: 'Series' object has no attribute 'type'